<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>
                Photos taken on Google Pixel phones
            </p>
            <ul class="footer-links">
                <li class="footer-link">
                    <a href="https://jarjan.xyz">jarjan.xyz</a>
                </li>
            </ul>
        </div>
    </div>
</footer>