---
layout: "layouts/base.njk"
---

{#
  Stolen from: https://github.com/duncan/website/blob/master/content/_includes/post.njk
  Thanks :)
#}
{%- set currentItemIndex = 0 %}
{%- for item in collections.exifPhotos %}
  {%- if item.url == page.url %}
    {%- set currentItemIndex = loop.index0 %}
  {%- endif %}
{%- endfor %}

{%- set prevItemIndex = currentItemIndex - 1 %}
{%- set nextItemIndex = currentItemIndex + 1 %}

<main class="max-w-7xl mx-auto py-10">
  <a href="/" class="text-blue-500 underline">Back to photos</a>

  <figure class="mt-5">
    <img src="/photos/w960/{{ image_path }}" alt="{{ image.ImageDescription }}">
    <figcaption class="text-sm text-gray-700 mt-2">
      <time>{{ exif.DateTimeOriginal | readableDate }}</time>
      <p>Taken using a {{ image.Make }}
        {{ image.Model }} ISO: {{ exif.ISO }}
        ƒ/{{exif.FNumber }}</p>
    </figcaption>
  </figure>
  {#
  <h2>Available meta tags</h2>
  <p>Some stuff isn't usable and needs some work to become usable.</p>

  <table>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>

    {%- for name, item in image %}
      <tr>
        <td>image.{{ name }}</td>
        <td>{{ item }}</td>
      </tr>
    {%- endfor %}

    {%- for name, item in exif %}
      <tr>
        <td>exif.{{ name }}</td>
        <td>{{ item }}</td>
      </tr>
    {%- endfor %}

    {% for name, item in thumbnail %}
      <tr>
        <td>thumbnail.{{ name }}</td>
        <td>{{ item }}</td>
      </tr>
    {%- endfor %}
  </table>
  #}
  <div class="inline-flex shadow-sm mt-10">
    {%- if prevItemIndex >= 0 %}
      {%- set prev = collections.exifPhotos[prevItemIndex] %}
      <a href="{{ prev.url }}" class="inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
        <span class="sr-only">Previous</span>
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
        </svg>
      </a>
    {%- endif %}

    {%- if nextItemIndex < collections.exifPhotos.length %}
      {%- set next = collections.exifPhotos[nextItemIndex] %}
      <a href="{{ next.url }}" class="inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
        <span class="sr-only">Next</span>
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
        </svg>
      </a>
    {%- endif %}
  </div>
</main>