---
title: "#teampixel"
layout: main.njk
permalink: "/"
meta_desc: Photos taken on Google Pixel phones #teampixel
url: https://pixel.jarjan.xyz
img: /images/highway-water.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---

<h1 class="ft-h1">{{ title }}</h1>

{% include "feature-gallery.njk" %}